html, body{
    margin: 0;
}

header{
    background-color: #F55A5A;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

header > img{
    width: 24px;
    height: 24px;
    margin: 7px;
}

header > h1{
    font-size: 1rem;
    font-weight: 500;
    font-family: Inter;
}